---
layout: default
---

<div id="land" class="page">
  <div class="container-fluid">
    <section class="main">
      <h3>Starnight App</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum, quis rem minima officiis <br>iure optio pariatur aperiam iste qui obcaecati vero ipsa nam dolores velit.</p>
      <div class="video text-center">

        <a href="#videoModal" class="hero-play-btn various" data-toggle="modal" data-target="#videoModal"><img src="/images/play-btn.png" alt="play-botton"></a>

      </div>
    </section>
  </div>
  <div class="col-md-6 col-md-offset-3 text-center get_start">
    <a href="" class="get-started-btn">Get Started</a>
  </div>
</div>


{%include home/details.html %}
{%include home/features.html%}
{%include home/design.html%}


<div class="modal fade" id="videoModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">
        <iframe src="http://player.vimeo.com/video/87701971?title=0&amp;byline=0&amp;portrait=0&amp;color=1883ad" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
      </div>
    </div>
  </div>
</div>