---
layout: default
---

<div id="home">
<div class="container-fluid">
  <section class="main">
    <h3>Starnight App</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste, eaque<br> est nobis, earum enim in rem at voluptatem dicta ab.</p>

    <a href="http://player.vimeo.com/video/87701971?title=0&amp;byline=0&amp;portrait=0&amp;color=1883ad&amp;autoplay=1" class="hero-play-btn various fancybox.iframe">press button</a>
    <div class="col-md-6 col-md-offset-3 text-center">
      <a href="" class="get-started-btn">Get Started</a>
    </div>
  </section>
</div>
</div>


{%include second.html %}
{%include fourth.html%}
{%include fifth.html%}