
<div id="fourth" class="page">
  <section class="features" id="features">
    <div class="container">
      <div class="row">
        <div class="col-md-6 features-leftcol wp2">
          <h1>So Dreamy</h1>
          <p class="margin-bottom">Minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          <h1>Apple Store</h1>
          <p>Minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
        <div class="col-md-6 features-rightcol wp3">
          <h1>More Buzz Words</h1>
          <p class="margin-bottom">Minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          <h1>Extra Startup Juice</h1>
          <p>Minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 text-center">
          <a href="#" class="try-btn">Try Demo</a>
        </div>
      </div>
    </div>
  </section>  
</div>


<div id="fifth" class="page">
  <div class="container">
    <section class="design" id="design">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div id="secondSlider">
                <ul class="slides">
                  <li>
                    <div class="col-md-4">
                      <div class="flat-box">
                        <div class="colourway colour1"></div>
                        <p class="title">Extra Startup Juice</p>
                        <p class="feature-text">Added Feature</p>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="flat-box">
                        <div class="colourway colour2"></div>
                        <p class="title">So Thirsty</p>
                        <p class="feature-text">Extra nice UI comes with the app</p>
                      </div>
                    </div>
                    <div class="col-md-4 design-content">
                      <h1>So flat you'll want to give it some shadows</h1>
                      <p>Minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
                    </div>
                  </li>
                  <li>
                    <div class="col-md-4">
                      <div class="flat-box">
                        <div class="colourway colour3"></div>
                        <p class="title">Extra Startup Juice</p>
                        <p class="feature-text">Added Feature</p>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="flat-box">
                        <div class="colourway colour4"></div>
                        <p class="title">So Thirsty</p>
                        <p class="feature-text">Extra nice UI comes with the app</p>
                      </div>
                    </div>
                    <div class="col-md-4 design-content">
                      <h1>So flat you'll want to give it some shadows</h1>
                      <p>Minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
                    </div>
                  </li>
                </ul>
              </div>
              <div class="col-md-1 col-md-offset-11 text-right controls">
                <a href="prev" class="prev"><i class="fa fa-angle-left fa-3x"></i></a>
                <a href="next" class="next"><i class="fa fa-angle-right fa-3x"></i></a>
              </div>
            </div>
          </div>
        </div>
      </section>     
  </div>
</div>