
<div id="fourth">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-md-offset-1">
        <h3>
          So Dreamy
        </h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime esse doloribus blanditiis doloremque culpa eius ex inventore, quas fugit odio exercitationem minus facere, dicta aliquam voluptas sed autem quod consectetur?</p>
      </div>
      <div class="col-md-offset-2 col-md-4">
        <h3>More buzz words</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur possimus ex est id dolorum, accusantium, inventore animi consequuntur illum dignissimos, harum consequatur illo eius nisi architecto fuga voluptas iusto excepturi.</p>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4 col-md-offset-1">
        <h3>
          Apple Store
        </h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime esse doloribus blanditiis doloremque culpa eius ex inventore, quas fugit odio exercitationem minus facere, dicta aliquam voluptas sed autem quod consectetur?</p>
      </div>
      <div class="col-md-offset-2 col-md-4">
        <h3>Extra start-up Juice</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur possimus ex est id dolorum, accusantium, inventore animi consequuntur illum dignissimos, harum consequatur illo eius nisi architecto fuga voluptas iusto excepturi.</p>
      </div>
    </div>

    
      <button type="button" class="btn btn-danger demo">Try button</button>

  </div>
</div>


<div id="fifth">
  <div class="container">
    
  </div>
</div>