.page{
  min-height: 100vmin;
  width: 100%;
  overflow: visible;
}
#land{
  background-image: url("../images/land.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center bottom;
  overflow: hidden;
  position: relative;
  .main{
    transform: translateY(35%);
  }
  h3{
    text-align: center;
    font-size: 60px;
    color: white;
    font-family: 'Lato', sans-serif;
    font-weight:100;
  }
  p{
    text-align: center;
    font-size: 17px;
    font-family: 'Lato', sans-serif;
    color: white;
    font-style: italic;
  }
  .video img{
    height:99px;
    width:99px;
    margin-top: 40px;
  }
  .video a img{
    transform: translateY(0);
    transition: transform 0.3s linear;
  }
  .video a:hover img{
    transform: translateY(-5px);
  }
 
  .get_start{
    position: absolute;
    left:2vw;
    right:0;
    bottom: 7vh;
    text-align: center;
  }
  .get-started-btn { 
    background-color: #7accc8; 
    color: #fff;
    padding: 20px 70px;
    border-radius: 3px; 
    -webkit-border-radius: 3px; 
    -moz-border-radius: 3px; 
    font-size: 18px; 
    letter-spacing: 2px; 
    box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.4); 
    transition: all 0.5s ease; 
    -moz-transition: all 0.5s ease; 
    -webkit-transition: all 0.5s ease; 
    -o-transition: all 0.5s 
    ease; display: inline-block; 
  }
  .get-started-btn:hover, .get-started-btn:focus { 
    text-decoration: none; 
    background-color: #e8b968;
 }
}

#phone{
  position: relative;
  font-family: 'Lato', sans-serif;
  min-height: 100vmin;
  // height: auto;
  background-color: #F4B350;
  h3{
    font-size: 50px;
    font-weight: 100;
  }
  p{
    font-size: 16px;
    line-height: 30px;
    margin-top: 4em ;
  }

  .btn{
    background-color: transparent;
    color: #fff;
    padding: 15px 70px;
    // margin-top: 32px;
    border-color: #FFF;
    font-size:17px;
    letter-spacing: 2px;
    border: 2px solid #fff;
    position:absolute;
  }
  .down .btn:hover{
    border-color: #a58347;
    color: #a58347;
    border: 2px solid #a58347;
  }

  .data{
    color: #fff;
  }
  .photo img{
    right:0;
    height: 100vh;
    width: 40vw;
    float: right;
    top:0;
    display: inline-block;
    position:absolute;
  }
}

#details{
  background-image: url("../images/about.jpg");
  -webkit-background-size: 100% 100%;
       -o-background-size: 100% 100%;
          background-size: 100% 100%;
  opacity: 1;
  position:relative;
  width: 100%;
  height: 70vh;
  font-family: 'Lato', sans-serif;
  .carousel-inner{
     height:60vh;
     .item {
      text-align: center;
      margin-top: 6em;
     }
     .item img{
      height:99px;
      width:99px;
      display: inline-block;
      }
  .carousel-caption{
      font-size: 3em;
      font-weight: 100;
      font-style: italic;
      position: static;
    }
  }

}

#features{
 .features h1 { 
  color: #9197a8; 
  font-size: 15px; 
  margin: 0 0 20px 0; 
  text-transform: uppercase; 
  }
  .features { 
    background: #fff; 
    padding: 70px 0; 
  }
  .features p { 
    color: #7a8387; 
    font-size: 16px; 
    word-spacing: 2px; 
    line-height: 30px; 
  }
  .features-leftcol { 
    border-right: 1px solid rgba(208, 217, 226, 0.4);
    padding-right: 60px; 
    
  }
  .features-rightcol { 
    padding-left: 60px; 
  }
  .try-btn { 
   background-color: #f69679; 
   border-radius: 3px; 
   -webkit-border-radius: 3px; 
   -moz-border-radius: 3px; 
   font-size: 17px; 
   color: #fff; 
   transition: all 0.5s ease; 
   -moz-transition: all 0.5s ease; 
   -webkit-transition: all 0.5s ease; 
   -o-transition: all 0.5s ease; 
   display: inline-block; 
   padding: 15px 50px; 
   margin: 70px 0 70px 35px; 
  }
  .try-btn:hover, .try-btn:focus { 
    background-color: #e37857; 
    color: #fff; 
    text-decoration: none; 
  }
  .margin-bottom { 
    margin-bottom: 70px; 
  }
}

#design{
 .design h1 { 
  color: #abbcc3; 
  font-size: 38px; 
  font-weight: 300; 
  margin-top: 0; 
  }
 .design { 
  padding: 100px 0; 
  background-color: #f6f6f4; 
  position: relative; 
  }
 .design-content p { 
  color: #abbcc3; 
  line-height: 30px; 
  font-weight: 300; 
  }
 .flat-box { 
  background-color: #fff; 
  -webkit-box-shadow: 0px 3px 0px 0px rgba(234, 234, 234, 1); 
  -moz-box-shadow: 0px 3px 0px 0px rgba(234, 234, 234, 1); 
  box-shadow: 0px 3px 0px 0px rgba(234, 234, 234, 1); 
  transition: all 0.5s ease; 
  -moz-transition: all 0.5s ease; 
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease; 
  }
 .flat-box:hover, .flat-box:focus { 
  transform: translate(0, -15px); 
  -webkit-transform: translate(0, -15px); 
  -o-transform: translate(0, -15px); 
  -moz-transform: translate(0, -15px); 
  }
 .feature-text { 
  padding: 0px 20px 40px 40px; 
  font-style: italic; color: #7a8387; 
  font-size: 12px; 
  letter-spacing: 2px;
  font-weight: 100;
  }
  .flat-box .title{
    text-align: center;
    font-size: 15px;
    text-transform: uppercase;
    color: #9197a8;
    letter-spacing: 2px;
    font-weight: 600;
    
  }
  .colourway { 
    height: 346px; 
  }
  .colour1 { 
      background-color: #f69679; 
  }
  .colour2 { 
    background-color: #e8b968; 
  }
  .colour3 { 
    background-color: #7accc8; 
  }
  .colour4 { 
    background-color: #373b44; 
  }
  .fa{
    color: #555;
  }
}

#footer{
  background-color: #7accc8;
  p { 
    color: #fff; 
    line-height: 30px; 
    }
    .para{
      font-weight: 400;
    }
    .foot{
      width: 100vw;
      height: 100vh;
    }
    .row{
      margin-top: 7vmin;
    }
.footer-nav { 
  list-style: none; 
  padding: 0; 
  }
.footer-nav li a { 
  display: block; 
  color: #fff; 
  padding: 5px; 
  transition: all 0.5s ease; 
  -moz-transition: all 0.5s ease; 
  -webkit-transition: all 0.5s ease; 
  -o-transition: all 0.5s ease; 
  }
.footer-nav li a:hover, .footer-nav li a:focus { 
  text-decoration: none; 
  color: #5db3af; }
  .footer-credit { 
    font-size: 12px; 
    text-transform: uppercase; 
    letter-spacing: 5px; 
  }
  .text-center img{
    transform: rotate(360deg);
    transition: all 0.3s ease-in;
    display: inline-block;
  }
  footer a { 
   color: #42817e; 
   transition: all 0.5s ease; 
   -moz-transition: all 0.5s ease; 
   -webkit-transition: all 0.5s ease; 
   -o-transition: all 0.5s ease; 
  }
  footer a:hover, footer a:focus { 
    color: #2f5c5a; 
    text-decoration: none; 
  }
  .footer-pos{
    margin-top: 22vh;
  }
}
