#home{
  height: 99vh;
  width: 99vw;
  background-image: url("../images/Sky.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  top:0;
  left:0;
  right: 0;
  overflow: hidden;
  h3{
    text-align: center;
    font-size: 40px;
    color: white;
    font-family: 'Lato', sans-serif;
    transform: translateY(200%);
  }
  p{
    text-align: center;
    font-size: 20px;
    font-family: 'Lato', sans-serif;
    color: white;
    transform: translateY(200%);
  }
  .get-started-btn { 
    background-color: #7accc8; 
    padding: 20px 40px; 
    border-radius: 3px; 
    -webkit-border-radius: 3px; 
    -moz-border-radius: 3px; 
    font-size: 18px; 
    letter-spacing: 2px; 
    box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.4); 
    transition: all 0.5s ease; 
    -moz-transition: all 0.5s ease; 
    -webkit-transition: all 0.5s ease; 
    -o-transition: all 0.5s 
    ease; display: inline-block; 
    transform: translatey(600%);
 }
  .get-started-btn:hover, .get-started-btn:focus { 
    text-decoration: none; 
    background-color: #e8b968;
 }
}

#second{
  background-color: #F5AB35;
  height: 80vh;
  width: 100vw;

  h3{
    font-size: 30px;
  }
  p{
    font-size: 19px;
  }

  .btn{
    background-color: transparent;
    color: #fff;
    padding: 6px 40px;
    margin-top: 32px;
  }
  .down .btn:hover, .down .btn:focus{
    border-color: #fff;
    transform: translate(0, -10px);
  }

  .data{
    color: #fff;
  }
  .photo{
    float: right;
    transform: translateY(20%);
    box-shadow:10px 10px 5px 5px blue inset;
    border-radius: 2px;
  }
}

#third{
  height: 100vh;
  width: 100vw;
  background-image: url(/images/four.jpg);
  -webkit-background-size: 100% 100%;
       -o-background-size: 100% 100%;
          background-size: 100% 100%;
  opacity: 0.6;
  font-family: 'Lato', sans-serif;
  #carousel-example-generic{
    height: 50vh;
    img{
      height: 50vh;
      background-color: transparent;
      text-align: center;
    }
  }
}

#fourth{
  height: 100vh;
  width: 100vw;
 .features h1 { 
  color: #9197a8; 
  font-size: 15px; 
  margin: 0 0 20px 0; 
  text-transform: uppercase; 
  }
  .features { 
    background: #fff; 
    padding: 70px 0; 
  }
  .features p { 
    color: #7a8387; 
    font-size: 16px; 
    word-spacing: 2px; 
    line-height: 30px; 
  }
  .features-leftcol { 
    border-right: 1px solid rgba(208, 217, 226, 0.4);
    padding-right: 60px; 
  }
  .features-rightcol { 
    padding-left: 60px; 
  }
  .try-btn { 
   background-color: #f69679; 
   border-radius: 3px; 
   -webkit-border-radius: 3px; 
   -moz-border-radius: 3px; 
   font-size: 17px; 
   color: #fff; 
   transition: all 0.5s ease; 
   -moz-transition: all 0.5s ease; 
   -webkit-transition: all 0.5s ease; 
   -o-transition: all 0.5s ease; 
   display: inline-block; 
   padding: 15px 50px; 
   margin: 70px 0 70px; 
  }
  .try-btn:hover, .try-btn:focus { 
    background-color: #e37857; 
    color: #fff; 
    text-decoration: none; 
  }
  .margin-bottom { 
    margin-bottom: 70px; 
  }
}

#fifth{
  height:100vh;
  width: 100vw;
 .design h1 { 
  color: #abbcc3; 
  font-size: 38px; 
  font-weight: 300; 
  margin-top: 0; 
  }
 .design { 
  padding: 100px 0; 
  background-color: #f6f6f4; 
  position: relative; 
  }
 .design-content p { 
  color: #abbcc3; 
  line-height: 30px; 
  font-weight: 300; 
  }
 .flat-box { 
  background-color: #fff; 
  -webkit-box-shadow: 0px 3px 0px 0px rgba(234, 234, 234, 1); 
  -moz-box-shadow: 0px 3px 0px 0px rgba(234, 234, 234, 1); 
  box-shadow: 0px 3px 0px 0px rgba(234, 234, 234, 1); 
  transition: all 0.5s ease; 
  -moz-transition: all 0.5s ease; 
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease; 
  }
 .flat-box:hover, .flat-box:focus { 
  transform: translate(0, -15px); 
  -webkit-transform: translate(0, -15px); 
  -o-transform: translate(0, -15px); 
  -moz-transform: translate(0, -15px); 
  }
 .feature-text { 
  padding: 0px 20px 40px 40px; 
  font-style: italic; color: #7a8387; 
  font-size: 16px; 
  }
}

#sixth{
  height: 100vh;
  width: 100vw;
  background-color: #72CCA7;
  footer p { 
    color: #fff; 
    line-height: 30px; 
    }
.footer-nav { 
  list-style: none; 
  padding: 0; 
  }
.footer-nav li a { 
  display: block; 
  color: #fff; 
  padding: 5px; 
  transition: all 0.5s ease; 
  -moz-transition: all 0.5s ease; 
  -webkit-transition: all 0.5s ease; 
  -o-transition: all 0.5s ease; 
  }
.footer-nav li a:hover, .footer-nav li a:focus { 
  text-decoration: none; 
  color: #5db3af; }
.badge-btn { 
  width: 60px; 
  height: 62px; 
  text-indent: -99999px; 
  display: block; 
  margin: 65px auto 65px; 
  -webkit-transition-duration: 3s; 
  -moz-transition-duration: 3s; 
  -o-transition-duration: 3s; transition-duration: 3s; -webkit-transition-property: -webkit-transform; -moz-transition-property: -moz-transform; -o-transition-property: -o-transform; transition-property: transform; }
.badge-btn:hover, .badge-btn:focus { -webkit-transform: rotate(360deg); -moz-transform: rotate(360deg); -o-transform: rotate(360deg); }
.footer-credit { font-size: 12px; text-transform: uppercase; letter-spacing: 5px; }
footer a { color: #42817e; transition: all 0.5s ease; -moz-transition: all 0.5s ease; -webkit-transition: all 0.5s ease; -o-transition: all 0.5s ease; }
footer a:hover, footer a:focus { color: #2f5c5a; text-decoration: none; }
}

