#home{
  height: 99vh;
  width: 99vw;
  background-image: url("../images/Sky.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  top:0;
  left:0;
  right: 0;
  overflow: hidden;
  h3{
    text-align: center;
    font-size: 40px;
    color: white;
    font-family: 'Lato', sans-serif;
    transform: translateY(200%);
  }
  p{
    text-align: center;
    font-size: 20px;
    font-family: 'Lato', sans-serif;
    color: white;
    transform: translateY(200%);
  }
  .btn-primary {
    display: inline-block;
    position: absolute;
    transform: translateX(375%);
    bottom: 10%;
    padding: 6px 35px;
    opacity: 0.7; 
  }
}

#second{
  background-color: #F5AB35;
  height: 80vh;
  width: 100vw;

  h3{
    font-size: 30px;
  }
  p{
    font-size: 19px;
  }

  .btn{
    background-color: transparent;
    color: #fff;
    padding: 6px 40px;
    margin-top: 32px;
  }
  .down :hover{
    border-color: red;
    -webkit-border-radius: 9px;
            border-radius: 9px;
  }

  .data{
    color: #fff;
  }
  .photo{
    float: right;
    transform: translateY(20%);
    box-shadow:10px 10px 5px 5px blue inset;
    border-radius: 2px;
  }
}

#third{
  height: 50vh;
  width: 100vw;
  background-image: url(/images/five.jpg);
  -webkit-background-size: 100% 100%;
       -o-background-size: 100% 100%;
          background-size: 100% 100%;
  opacity: 0.6;
  font-family: 'Lato', sans-serif;
  #carousel-example-generic{
    height: 50vh;
    img{
      height: 50vh;
      background-color: transparent;
      text-align: center;
    }
  }
}

#fourth{
  height: 70vh;
  width: 100vw;
  .btn{
    padding: 6px 35px;
    transform: translateX(375%);
    height: 5vh;
    border-radius: 0;
    bottom: 20%;
    position: relative;
  }
}

#fifth{
  height:50vh;
  width: 100vw;
  background-image: url(/images/five.jpg);
  -webkit-background-size: 100% 100%;
       -o-background-size: 100% 100%;
          background-size: 100% 100%;
  opacity: 0.6;
  font-family: 'Lato', sans-serif;
  #carousel-example-generic{
    height: 50vh;
    img{
      height: 50vh;
      background-color: transparent;
      text-align: center;
    }
  }
}

#sixth{
  height: 70vh;
  width: 100vw;
  background-color: #72CCA7;
}

