<div id="design" class="page">
  <section class="design" >
    <div class="container">
      <div id="carousel-generic" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner" role="listbox">
        <div class="item active"> 
          <div class="col-md-4">
            <div class="flat-box">
              <div class="colourway colour1">
              </div>
              <p class="title">Extra Startup Juice</p>
              <p class="feature-text">Added Feature</p>
            </div>
          </div>
          <div class="col-md-4">
            <div class="flat-box">
              <div class="colourway colour2">
              </div>
              <p class="title">So Thirsty</p>
              <p class="feature-text">Extra nice UI comes with the app</p>
            </div>
          </div>
          <div class="col-md-4 design-content">
            <h1>So flat you'll want to give it some shadows</h1>
            <p>Minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
          </div>
        </div>
        <div class="item">
          <div class="col-md-4">
            <div class="flat-box">
              <div class="colourway colour3"></div>
              <p class="title">Extra Startup Juice</p>
              <p class="feature-text">Added Feature</p>
            </div>
          </div>
          <div class="col-md-4">
            <div class="flat-box">
              <div class="colourway colour4"></div>
              <p class="title">So Thirsty</p>
              <p class="feature-text">Extra nice UI comes with the app</p>
            </div>
          </div>
          <div class="col-md-4 design-content">
            <h1>So flat you'll want to give it some shadows</h1>
            <p>Minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
          </div>
        </div>
      </div>
      <div class="col-md-1 col-md-offset-11 text-right controls">
        <a class="left carousel-control" href="#carousel-generic" role="button" data-slide="prev">
          <i class="fa fa-angle-left fa-3x"></i>
        </a>
        <a class="right carousel-control" href="#carousel-generic" role="button" data-slide="next">
          <i class="fa fa-angle-right fa-3x"></i>
        </a>
      </div>
    </div>
  </div>
</section>     
</div>
